certifi
cycler
kiwisolver
matplotlib
numpy
pandas
pyparsing
python-dateutil
pytz
scipy
seaborn
six
tqdm
wincertstore
networkx
ipykernel
sphinxcontrib-bibtex
sphinx_rtd_theme
sphinxcontrib-svg2pdfconverter
ipywidgets
sphinx-copybutton
nbsphinx